

/* 卡片设计 */
.card {
    border: none;
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card .card-title {
    color: var(--post-color);
}

.card:hover .card-title {
    color: var(--hover-color);
}


/* 夜遊推薦圖片樣式 */
.img-fluid {
    max-height: 300px;
    object-fit: cover;
}

/* 夜遊標題區塊 */
.bg-dark h3 {
    color: #f8d347;
}

.btn-outline-light:hover {
    background-color: #f8d347;
    color: #000;
}

.btn-outline-secondary {
    color: var(--hover-color);
    border-color: var(--hover-color);
    transition: all 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: var(--hover-color);
    color: var(--dark-gray);
}